.dialogtest, .userDefinedFilter {
    font-size: smaller;
    padding: 3px; 
}
.dialogtest hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #ffffff;
}
.clear-filter, .filters-more { 
    cursor:pointer;
}
